.page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form_container {
    padding: 50px;
    width: 350px;
    background-color: #001529;;
    text-align: center;
}